.content {
  max-width: 674px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #666699;
}

.text-centered{
  text-align: center;
}

.pull-right {
  margin-left: auto;
}

.medialogo {
  min-width: 25px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}
